body {
  background-color: black;
  color: white;
  /* border: 1px solid red; */
  height: 100vh;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right: 1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: orange;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: green;
}

.midsection {
  border: 1px solid white;
  margin: 5px 5px 5px 5px;
  height: 100vh;
  width: auto;
  display: grid;
}
/* .information {
    border: 1px solid blue;
    margin: 5px 5px 5px 5px;
    height: auto;
    width: auto;
    position: absolute;
  left: 150px;
  top: 200px;
    display: grid;   
} */
#tagLine {
  /* border: 1px solid blue; */
  margin: 5px 5px 5px 5px;
  height: auto;
  width: auto;
  position: absolute;
  left: 150px;
  top: 200px;
  /* display: grid;    */
}
img {
  bottom: 30px;
  border: 1px solid green;
}
#aboutSection {
  /* border: 1px solid green; */
  margin: 2px 2px 2px 2px;
  width: 60%;
  height: 500px;
  position: absolute;
  left: 300px;
  top: 600px;
}
article {
  /* border: 1px solid red; */
  position: relative;
  left: 40px;
  top: 50px;
}
