body {
  background-color: black;
  color: white;
}
.regform {
  /* border: 2px solid red; */
  height: 100vh;
  margin: 5px 5px 5px 5px;
  padding: 10px;
  text-align: left;
  color: orange;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right: 1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: orange;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: green;
}

/* .active {
  background-color: green;
} */
button:hover {
  background-color: green;
}
.container {
  /* border: 2px solid red; */
  height: 100vh;
  margin: 5px 5px 5px 5px;
  padding: 10px;
  text-align: left;
  color: orange;
}
table {
  margin: 5px 5px 5px 5px;
  /* border: 5px solid blue; */
  /* height: 100vh; */
  width: 100%;
}
td {
  border: 1px solid;
  height: 20px;
  width: 20px;
}
.regestration {
  border: 1px solid red;
}
